<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
    

    <style>
 
 .showcontent{
    display:block;
 }
 .h
 {
    display:none;
 }
</style>
</head>

<body class="col-lg-12" style="background-image:url('/images/background.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; background-origin: center ; height: auto ">
  <nav class="head  navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"style=" width:20%;">
      <img src="images/logo.png" class="fl img-responsive" width="100" height="60" />
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <!--<a class="navbar-brand" href="/" id="websitename">Foodie</a>-->
      </div>
      <div class="collapse navbar-collapse" id="Navbar">
          <ul class="nav navbar-nav navbar-right" style="display:inline-block; font-size:15px;padding-right:20px;padding-top: 10px; text-align:center; border:5px #f46542; border-radius:5px;">   
               
               <li><a href="/"><button class="btn btn-lg btn-success">Logout</button></a></li>
      </ul>
      
    </div>
    </div>
  </nav>
  <div class="col-lg-12" style="border-radius: 10px;height: auto; background-color: orange">
      <h1 align="center" style="color: black">Welcome to <%=resname[0].name %></h1>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<!--Angular Goes Here-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

<div style="padding: 0.5%; border-radius: 10px;">
    <div class="col-lg-12" style=" padding: 1%; height: auto;background: white;width:50%;">
        <table class="table table-hover h-scroll" id="menutable">
            <thead class="thead-default">
            <tr>
                <th>S.No</th>
                <th>Item Name</th>
                <th></th>
                <th>Price(₹)</th>
                <th>Quantity</th>
                
            </tr>
            </thead>
            <tbody id="table1">
             
            <% print.forEach(function (menu) { %>
            	<tr>  
            		<td class="id"><%= menu.item_id %></td>
                <td><%= menu.itemname %></td>  
                <td><% if (menu.itemcategory =="Veg") { %>
                		<img src="/images/veg.jpg" height="20" width="20">
                	<% } else { %>
                		<img src="/images/non-veg.jpg" height="20" width="20">
                		<% } %>
                </td>
                <td><%= menu.itemprice %></td>
                <td>         
                		<button type="button" class="btn btn-default btn-sm addtocart"  >
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                    </button>
                </td>
                <td class="hidecontent h" >
                    <button type="button" class=" sub btn-success" >-</button>
                </td>
                <td class="hidecontent h qty" > 
                  <input type="number" id="quantity" value="0" class="field input-number setqty" style="width: 30px; " />
                </td>
                <td class="hidecontent h incqty" >
                  <button type="button" class="add btn-success ">+</button>
                </td>
                            
                    
            	</tr>  
                                            
         		<% }) %>
     		</tbody>
        </table>
    </div>
    <div class="col-lg-12" style=" padding: 1%; height: auto;background: white;width:50%;">
        <table class="table table-hover h-scroll" id="carttable">
            <thead class="thead-default">
            <tr>
                <th>S.No</th>
                <th>Item Name</th>
                <th>Price(₹)</th>
                <th>Quantity</th>
                <th>Total Amount</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
        <div class="text-center">
                 <input type="button" value="Place Order" class="p-3 btn-default btn-lg placeorder" style="margin: 20px" /> 
    </div>
    </div>
        <script type="text/javascript">

          //function to retrive the cart contents from the local storage object "cart" to display it on the cart table.
          function retrievetocarttable(insidecart)
          {
                var totalbill=0;

                for(var i=0;i<insidecart.length;i++)
                {
                  var table = document.getElementById("carttable");
                  var row = document.createElement("tr");
                  var cell1 = document.createElement("td");//itemid
                  var cell2 = document.createElement("td");//itemname
                  var cell3 = document.createElement("td");//price
                  var cell4 = document.createElement("td");//qty
                  var cell5 = document.createElement("td");//total 

                  cell1.innerHTML = insidecart[i].itemid;
                  cell2.innerHTML = insidecart[i].itemname;
                  cell3.innerHTML = insidecart[i].price;
                  cell4.innerHTML = insidecart[i].qty;
                  cell5.innerHTML = parseInt(cell4.innerHTML)*parseInt(cell3.innerHTML);
                  totalbill=parseInt(totalbill)+parseInt(cell5.innerHTML);


                  row.appendChild(cell1);
                  row.appendChild(cell2);
                  row.appendChild(cell3);
                  row.appendChild(cell4);
                  row.appendChild(cell5);
                  table.appendChild(row);
                }
                var ct=document.getElementById("carttable");
                var billamount=document.createElement("tr");
                var cell1=document.createElement("td");
                var cell2=document.createElement("td");
                cell1.innerHTML="Total Amount:";
                cell2.innerHTML=totalbill;
                billamount.appendChild(cell1);
                billamount.appendChild(cell2);
                ct.appendChild(billamount);
                

          }

          $(document).ready(function(){
            
            var rid= "<%=resname[0].user_id %>";
            //alert(rid);
            var cid= "<%- customer %>";
            //alert(cid);
            var olduser=JSON.parse(localStorage.getItem("restcust"));
            if(olduser!=null)
            {
            if(rid==olduser.restid && cid==olduser.customerid)
            {
            var oldcart=JSON.parse(localStorage.getItem("cart"));
            if(oldcart!=null)
            {
              //Retrieve values from local storage to cart table
                retrievetocarttable(oldcart);
                  //alert("Some items already in cart!");
              }
              else
              {
                //alert("Your cart is empty!");
              }
              }
              else
                localStorage.clear();
            }

          });

           $(".addtocart").on("click", function(){
                $(this).hide();
                $(this).parent().siblings(".h").css({"display":"inline"})
                var getid=$(this).parent().siblings(".id").text();
                //alert(getid);
                var cartcontent = JSON.parse(localStorage.getItem("cart"));
                if(cartcontent!=null)
                {
              $(this).parent().siblings(".qty").find("input").val(function(){
                var found=0;
                for(var i=0;i<cartcontent.length;i++)
                  {
                    if (getid==cartcontent[i].itemid)
                    {
                      found=1;
                      return cartcontent[i].qty;
                    }
                  }
                  if(found==0)
                    return 0;
              });
            }
                $("#carttable").find("tr:not(:first)").remove();
                 $(this).parent().siblings(".qty").find("input").val(+$(this).parent().siblings(".qty").find("input").val() + 1);
                // $("#carttable").find("input").val($("input:text").val());  
                 var storage = JSON.parse(localStorage.getItem("cart"));
                 if(storage==null){
                    storage = [];
                    var customerid="<%-customer%>";
                    var restid="<%=resname[0].user_id%>";
                    var data2={customerid:customerid,restid:restid};
                    localStorage.setItem("restcust",JSON.stringify(data2)); 
                 }

                var row = $(this).closest("tr");
                var itemid = row.find("td").eq(0).text().trim();
                var itemname = row.find("td").eq(1).text().trim();
                var price = row.find("td").eq(3).text().trim();
                var qty = row.find("td input").eq(0).val().trim();
                var tval=price*qty;

                var flag=0;
                for(var i=0;i<storage.length;i++)
                {
                  if(itemid==storage[i].itemid)
                  {
                    storage[i].qty=parseInt(storage[i].qty,10)+1;
                    storage[i].tval=parseInt(storage[i].price,10)*parseInt(storage[i].qty,10);
                    flag=1;
                    break;
                  }
                }

                // Create an object to store.
                if(flag==0)
                {
                var data = {itemid:itemid,itemname:itemname,price:price,qty:qty,tval:tval};
                storage.push(data);
                }

                
                localStorage.setItem("cart",JSON.stringify(storage));

                 var storeddata= JSON.parse(localStorage.getItem("cart"));
                 retrievetocarttable(storeddata);

                });
        	 $('.add').on("click",function () {
                 $("#carttable").find("tr:not(:first)").remove();

    			       $(this).parent().prev().find("input").val(+$(this).parent().prev().find("input").val() + 1);
                // $("#carttable").find("input").val($("input:text").val());  
                 var storage = JSON.parse(localStorage.getItem("cart"));
                 if(storage==null){
                    storage = [];
                    var customerid="<%-customer%>";
                    var restid="<%=resname[0].user_id%>";
                    var data2={customerid:customerid,restid:restid};
                    localStorage.setItem("restcust",JSON.stringify(data2)); 
                 }
                var row = $(this).closest("tr");
                var itemid = row.find("td").eq(0).text().trim();
                var itemname = row.find("td").eq(1).text().trim();
                var price = row.find("td").eq(3).text().trim();
                var qty = row.find("td input").eq(0).val().trim();
                var tval=price*qty;

                //if itemid already exists in cart, don't create a new entry, just update the existing entry
                var flag=0;
                for(var i=0;i<storage.length;i++)
                {
                  if(itemid==storage[i].itemid)
                  {
                    storage[i].qty=parseInt(storage[i].qty,10)+1;
                    storage[i].tval=parseInt(storage[i].price,10)*parseInt(storage[i].qty,10);
                    flag=1;
                    break;
                  }
                }

                // Create an object to store.
                if(flag==0)
                {
                var data = {itemid:itemid,itemname:itemname,price:price,qty:qty,tval:tval};
                storage.push(data);
                }

                
                // Store it.
                localStorage.setItem("cart",JSON.stringify(storage));

                //Retrieve to cart table
                var storeddata= JSON.parse(localStorage.getItem("cart"));
                retrievetocarttable(storeddata);

              });
			     $('.sub').click(function () {
                $("#carttable").find("tr:not(:first)").remove();

   				      if ($(this).parent().next().find("input").val() > 0) {
                 $(this).parent().next().find("input").val(+$(this).parent().next().find("input").val() - 1);
                }
               // $("#carttable").find("input").val($("input:text").val()); 
               var getid =$(this).parent().siblings(".id").text();
                var storage = JSON.parse(localStorage.getItem("cart"));
                if(storage!=null)
                {
                for(var i=0;i<storage.length;i++)
                {
                    var temp = storage[i].qty;

                  if(getid==storage[i].itemid && temp>=1)
                  {
                    storage[i].qty=parseInt(storage[i].qty,10)-1;                    
                  }
                  if(getid==storage[i].itemid && storage[i].qty==0)
                  {
                    storage.splice(i,1);
                    localStorage.setItem('cart', JSON.stringify(storage));

                  }
                }}
                   localStorage.setItem('cart', JSON.stringify(storage));

                var storeddata= JSON.parse(localStorage.getItem("cart"));
                if(storeddata!=null)
                retrievetocarttable(storeddata);
              else
                alert("Your cart is empty!");
                 });

           $('.placeorder').click(function(){
             //alert("Placing order....");
             var cartcontent = JSON.parse(localStorage.getItem("cart"));
             var restdetails=JSON.parse(localStorage.getItem("restcust"));
             if(cartcontent!=null && restdetails!=null)
             {
             var resid=restdetails.restid;
               $.ajax({
                     type: "POST",
                      url: "/getMenu?res_id="+resid,
                       data: {cartcontent} ,
                      success: function(data) {
                        window.location='/orderStatus';
                       },
                       error: function(jqXHR, textStatus, err) {
                           alert('text status '+textStatus+', err '+err)
                       }
                   });
                   console.log(cartcontent);
                 }
                 else
                 {
                  alert("Seems like your cart is empty! Add your favourite items to the cart! ");
                 }

           });
         
        </script>
 
</body>
</html>